* {
    box-sizing: border-box;
}

body {
    background-color: hsl(356, 83%, 97%);
}

main {
    max-width: 80vw;
    margin: auto;
}

aside {
    width: 20vw;
    float: right;
    position: sticky;
    top: 40px;
}

section {
    clear: both;
}

.alignText {
    margin: 0;
    position: relative;
    top: 15%;
    right: 0px;
    max-width: 66%;
}

#logo {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

h1 {
    margin: 0;
    padding: .25em;
}

h2,
h3 {
    padding: 8px;
    ;
}

.float-left {
    float: left;
    margin: 0;
    padding: 8px;
}

footer {
    margin: 8px auto 0px;
    padding: 18px;
}

footer>h2,
footer>p {
    margin: 0;
    padding: 0;
}