/* Color Palette
light2 = hsl(356, 83%, 97%) light pink hsl(356, 83%, 97%)
light1 = #F37C84  med pink-red
main = #EA202C  red
dark1 = #950E17  med-dark red
dark2 = #34090C  very dark
 */

body {
    background-color: hsl(356, 83%, 97%);
}

header {
    /* background-color: #950E17; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#950e17+0,f37c84+100 */
    background: linear-gradient(45deg, rgba(149, 14, 23, 1) 0%, rgba(243, 124, 132, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.w3-medRed {
    background-color: #950E17;
    color: white;
}

.w3-text-medRed {
    color: #950E17;
}

.w3-font-size {
    font-size: 3em;
    font-weight: 900;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #34090C;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 5;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:link {
    color: #F37C84;
}

.topnav a:visited {
    color: #F37C84;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #F37C84;
    color: #34090C;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    color: hsl(356, 83%, 97%);
}

h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #950E17;
    font-size: 2.5em;
}

h3 {
    color: hsl(356, 83%, 97%);
    background-color: #34090C;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.special {
    color: hsl(356, 83%, 97%);
}

a:link {
    color: #34090C;
}

/* unvisited link */
a:visited {
    color: #34090C;
}

/* visited link */
a:hover {
    color: #F37C84;
    background-color: green;
}

/* mouse over link */
a:active {
    color: #0000FF;
}

/* selected link */

footer {
    background-color: #34090C;
    text-align: center;
}

footer>h2,
footer>p {
    color: hsl(356, 83%, 97%);
}

.list-style-none {
    list-style: none;
}

.page-nav a {
    color: #950E17;
}